main {
    background-color: #f81285; 
  }
   
  .nav-link {
    font-size: x-large;
  }

  .footer {
    color: white;
    margin-top: 163px;
  }
  
  .footerPortfolio {
    color: white;
    margin-top: 480px;
    font-size: medium;
  }
  
  .footerResume {
    color: white;
    margin-top: 480px;
  }
  
  .footerContact {
    color: white;
    margin-top: 405px;
  }
  
  a {
    font-size: 20px;
    color: white;
    justify-content: center;
    vertical-align: center;
  }
  
  
  .responsive {
    width: 100%;
    height: auto;
  }